@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Basic form CSS
 **/
fieldset .fields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /**
        * Input element sizes
        **/ }
  fieldset .fields > div {
    display: block; }
    fieldset .fields > div input, fieldset .fields > div select {
      width: 100%; }
  fieldset .fields .w1of1 {
    width: 100%; }
  fieldset .fields .w1of2 {
    width: 50%; }
  fieldset .fields .w1of3 {
    width: 33.333333%; }
  fieldset .fields .w2of3 {
    width: 66.666666%; }
  fieldset .fields .w1of4 {
    width: 25%; }
  fieldset .fields .w3of4 {
    width: 75%; }
  fieldset .fields .w1of5 {
    width: 20%; }
  fieldset .fields .w2of5 {
    width: 40%; }
  fieldset .fields .w3of5 {
    width: 60%; }
  fieldset .fields .w4of5 {
    width: 80%; }

/**
 * Basic styling CSS
 */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  body fieldset .fields > div {
    padding: 0.25rem;
    box-sizing: border-box;
    margin: 0.5rem 0 0.5rem; }
    body fieldset .fields > div label {
      display: block;
      margin-bottom: 0.25rem; }
    body fieldset .fields > div input, body fieldset .fields > div select {
      border: 1px solid lightgrey;
      border-radius: 0.25rem;
      padding: 0.5rem;
      line-height: 1rem; }

.percentage.svelte-h0i7g2 {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1; }

.percentage-bar.svelte-h0i7g2 {
  position: absolute;
  width: 0%;
  z-index: 2; }

.percentage-text.svelte-h0i7g2 {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3; }

label.svelte-1251773 {
  cursor: pointer; }

label.svelte-wryltr {
  cursor: pointer; }

input[type="radio"].svelte-wryltr {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }
