@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Basic form CSS
 **/
fieldset .fields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /**
        * Input element sizes
        **/ }
  fieldset .fields .input {
    display: block; }
    fieldset .fields .input input[type=text],
    fieldset .fields .input textarea,
    fieldset .fields .input select {
      width: 100%; }
  fieldset .fields .w1of1 {
    width: 100%; }
  fieldset .fields .w1of2 {
    width: 50%; }
  fieldset .fields .w1of3 {
    width: 33.333333%; }
  fieldset .fields .w2of3 {
    width: 66.666666%; }
  fieldset .fields .w1of4 {
    width: 25%; }
  fieldset .fields .w3of4 {
    width: 75%; }
  fieldset .fields .w1of5 {
    width: 20%; }
  fieldset .fields .w2of5 {
    width: 40%; }
  fieldset .fields .w3of5 {
    width: 60%; }
  fieldset .fields .w4of5 {
    width: 80%; }

/**
 * Basic styling CSS
 */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem; }
  body form {
    padding: 1rem; }
  body fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
    body fieldset h2 {
      display: block;
      width: 100%;
      margin: 0.5rem; }
    body fieldset p {
      display: block;
      width: 100%;
      margin: 0.5rem;
      font-weight: 300; }
    body fieldset legend {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0;
      margin: 0.5rem; }
    body fieldset .fields .input {
      box-sizing: border-box;
      margin: 0.5rem 0 0.5rem; }
      body fieldset .fields .input label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.25rem;
        margin: 0 0.25rem 0.25rem 0.5rem; }
        body fieldset .fields .input label .icon-question,
        body fieldset .fields .input label .icon-info {
          cursor: pointer;
          display: inline;
          padding-top: 5px; }
          body fieldset .fields .input label .icon-question svg,
          body fieldset .fields .input label .icon-info svg {
            width: 18px;
            height: 18px; }
          body fieldset .fields .input label .icon-question:hover,
          body fieldset .fields .input label .icon-info:hover {
            color: #2d7d15; }
      body fieldset .fields .input input[type=text], body fieldset .fields .input select {
        border: none;
        border-left: 0.125rem solid lightgrey;
        border-bottom: 0.125rem solid lightgrey;
        padding: 0.5rem;
        line-height: 1rem;
        font-family: 'Courier New', Courier, monospace; }
        body fieldset .fields .input input[type=text]:focus, body fieldset .fields .input input[type=text]:-internal-autofill-selected, body fieldset .fields .input select:focus, body fieldset .fields .input select:-internal-autofill-selected {
          outline: none; }
      body fieldset .fields .input.validated input[type=text] {
        border-left: 0.125rem solid #2d7d15;
        border-bottom: 0.125rem solid #2d7d15; }
      body fieldset .fields .input.error input[type=text] {
        border-left: 0.125rem solid red;
        border-bottom: 0.125rem solid red; }
      body fieldset .fields .input .errors ul {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0; }
        body fieldset .fields .input .errors ul li .error-triangle {
          width: 0px;
          height: 0px;
          -webkit-transform: rotate(360deg);
          border-style: solid;
          border-width: 0 1rem 1rem 1rem;
          border-color: transparent transparent red transparent;
          margin-left: 1rem; }
        body fieldset .fields .input .errors ul li .error-content {
          background-color: red;
          color: white;
          margin-right: 0.5rem;
          padding: 0.5rem;
          font-size: 0.8rem; }
    body fieldset .fields .input-help {
      margin: -0.5rem 0 0.5rem; }
      body fieldset .fields .input-help .input-help-triangle {
        width: 0px;
        height: 0px;
        -webkit-transform: rotate(360deg);
        border-style: solid;
        border-width: 0 1rem 1rem 1rem;
        border-color: transparent transparent black transparent;
        margin-left: 1rem; }
      body fieldset .fields .input-help .input-help-content {
        font-size: 0.8rem;
        color: white;
        display: block;
        border: #black 1px solid;
        border-radius: 0.25rem;
        padding: 1rem;
        background-color: black; }
  body nav {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0 0.5rem; }
    body nav button {
      padding: 12px 16px;
      margin-left: 0.5rem;
      cursor: pointer;
      border-width: 1px;
      border-radius: 5px;
      background-color: #2d7d15;
      color: white;
      font-size: 0.9rem;
      min-width: 10rem; }

.percentage.svelte-h0i7g2 {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1; }

.percentage-bar.svelte-h0i7g2 {
  position: absolute;
  width: 0%;
  z-index: 2; }

.percentage-text.svelte-h0i7g2 {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3; }

label.svelte-1251773 {
  cursor: pointer; }

label.svelte-wryltr {
  cursor: pointer; }

input[type="radio"].svelte-wryltr {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }
