/**
 * Basic form CSS
 **/
fieldset {
    .fields {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .input {
            display: block;          

            input[type=text], 
            textarea, 
            select {
                width:100%;
            }

            /**
            * Input element sizes
            **/
            &.w1of1 {
                width: 100%;
            }
            &.w1of2 {
                width: 50%;
            }
            &.w1of3 {
                width: 33.333333%;
            }
            &.w2of3 {
                width: 66.666666%;
            }
            &.w1of4 {
                width: 25%;
            }
            &.w3of4 {
                width: 75%;
            }
            &.w1of5 {
                width: 20%;
            }
            &.w2of5 {
                width: 40%;
            }
            &.w3of5 {
                width: 60%;
            }
            &.w4of5 {
                width: 80%;
            }
            &.spacer1top{
                margin-top: 1rem;
            }
            &.spacer2top{
                margin-top: 2rem;
            }
            &.spacer1bottom{
                margin-bottom: 1rem;
            }
            &.spacer2bottom{
                margin-bottom: 2rem;
            }
        }
    }
}

/**
 * Basic styling CSS
 */
 body {
     font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 0.9rem;

     form {
         width: 800px;
     }

     fieldset {
         border: 0;
         margin: 0;
         padding: 0;

         h2 {
            display: block;
            width: 100%;
            margin: 0.5rem;
         }
         
         p {
            display: block;
            width: 100%;
            margin: 0.5rem;
            font-weight: 300;
         }
         
         legend {
             font-size: 1.5rem;
             font-weight: 600;
             padding: 0;
             margin: 0.5rem;
         }

        .fields {
            .input {
                box-sizing: border-box;
                margin: 0.5rem 0 0.5rem;

                label {
                    display:block;
                    margin-bottom: 0.25rem;
                    margin: 0 0.25rem 0.25rem 0.5rem;
                }
                
                input[type=text], input[type=number], select {
                    border: none;
                    border-left: 0.125rem solid lightgrey;
                    border-bottom: 0.125rem solid lightgrey;
                    padding: 0.5rem;
                    line-height: 1rem;
                    font-family: 'Courier New', Courier, monospace;

                    &:focus,
                    &:-internal-autofill-selected {
                        outline: none;
                    }                 
                }

                &.validated {
                    input[type=text] {
                        border-left: 0.125rem solid #2d7d15;
                        border-bottom: 0.125rem solid #2d7d15;
                    }
                    
                }
                
                &.error {
                    input[type=text] {
                        border-left: 0.125rem solid red;
                        border-bottom: 0.125rem solid red;
                    }
                }

                .errors {
                    ul {
                        list-style-type: none;
                        display: flex;
                        padding: 0;
                        margin: 0;

                        li {
                            .error-triangle {
                                width: 0px;
                                height: 0px;
                                -webkit-transform:rotate(360deg);
                                border-style: solid;
                                border-width: 0 1rem 1rem 1rem;
                                border-color: transparent transparent red transparent;
                                margin-left: 1rem;
                            }

                            .error-content {
                                background-color: red;
                                color:white;
                                margin-right:0.5rem;
                                padding: 0.5rem;
                                font-size: 0.8rem;
                            }
                        }
                    }
                }

                .icon-question,
                .icon-info {
                    cursor: pointer;
                    display: inline;
                    padding-top: 5px;

                    svg {
                        width:18px;
                        height:18px;
                    }
                    
                    &:hover {
                        color: #2d7d15;
                    }
                }

                .input-help {
                    margin: 0 0 0.5rem;
                    
                    .input-help-triangle {
                        width: 0px;
                        height: 0px;
                        -webkit-transform:rotate(360deg);
                        border-style: solid;
                        border-width: 0 1rem 1rem 1rem;
                        border-color: transparent transparent black transparent;
                        margin-left: 1rem;
                    }
    
                    .input-help-content{
                        font-size: 0.8rem;
                        color: white;
                        display: block;
                        border: black 1px solid;
                        border-radius: 0.25rem;
                        padding: 1rem;
                        background-color: black;        
                    }
                }
            }
        }        
     }

     nav {
        display: flex;
        justify-content: flex-end;
        margin: 0.5rem 0 0.5rem;

        button {
            padding: 12px 16px;
            margin-left: 0.5rem;
            cursor: pointer;
            border-width: 0.1rem;
            border-color: #2d7d15;
            background-color: #2d7d15;
            color: white;
            font-size: 0.9rem;
            font-weight: 500;
            min-width: 10rem;
            transition: 0.25s;

            box-shadow: 0.125rem 0.125rem 0.125rem grey;

            &:hover
            {
                background-color: white;
                color: #2d7d15;
                transition: 0.25s;
            }

            &:active
            {
                box-shadow: 0.0rem 0.0rem 0.0rem;
            }
        }
    }

    .button {
        padding: 12px 16px;
        cursor: pointer;
        border-width: 0.1rem;
        border-color: #2d7d15;
        background-color: #2d7d15;
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
        transition: 0.25s;

        box-shadow: 0.125rem 0.125rem 0.125rem grey;

        &:hover
        {
            background-color: white;
            color: #2d7d15;
            transition: 0.25s;
        }

        &:active
        {
            box-shadow: 0.0rem 0.0rem 0.0rem;
        }
    }

    .button-alert {
        padding: 12px 16px;
        cursor: pointer;
        border-width: 0.1rem;
        border-color: #ff0000;
        background-color: #ff0000;
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
        transition: 0.25s;

        box-shadow: 0.125rem 0.125rem 0.125rem grey;

        &:hover
        {
            background-color: white;
            color: #ff0000;
            transition: 0.25s;
        }

        &:active
        {
            box-shadow: 0.0rem 0.0rem 0.0rem;
        }
    }
 }